.canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(92, 74, 140, 0.3);
    z-index: -1;
}

.fireflyCanvas {
    display: block;
    width: 100%;
    height: 100%;
}
