@font-face {
    font-family: 'Rubik';
    src: url("../fonts/Rubik-VariableFont_wght.ttf");
    font-weight: 350;
}

* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: #545454;
}

h1 {
    text-align: center;
    font-size: 70px;
}

.container {
    margin: auto;
    height: 600px;
    width: 400px;
    background-color: #b0e2ff;
    border-radius: 18px;
    padding: 0.1px;
    box-shadow: 0px 0px 20px -7px grey;
}

.buttoncontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin: 15px;
    /* border: 1px solid rgb(129, 129, 129); */
    height: 62.5%;
}

/* .buttoncontainer button:nth-child(10){
    grid-column: 2;
    grid-row: 4;
}
.buttoncontainer button:nth-child(11){
    grid-column: 3;
    grid-row: 4;
} */

.but {
    border-radius: 60px;
    border: 2px solid white;
    background-color: #e6f8ff;
    font-weight: 600;
    font-size: x-large;
}

.but:hover {
    background-color: #fff2f2;
}

.but:active {
    background-color: #e6f8ff;
}

.display {
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 100%;
    height: 30%;
    background-color: white;
    margin: 15px;
    border-radius: 12px;
    font-weight: 500;
    font-size: xx-large;
    max-width: 100%;
}

#ip {
    /* border: 1px solid grey; */
    text-align: left;
    padding: 0px 20px 0px 20px;
    margin: 40px 0px;
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: xx-large;
    text-overflow: clip;
}

#ip:focus {
    outline: none;
}

#output {
    /* border: 2.1px solid #b0e2ff;
    border-radius: 11px; */
    text-align: right;
    padding: 10px 14px 6px 14px;
    max-width: inherit;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#output::-webkit-scrollbar {
    height: 4px;
}

#output::-webkit-scrollbar-track {
    background-color: transparent;
}

#output::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 9999px;
}

#output::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    border-radius: 1fr;
}

footer {
    position: fixed;
    bottom: 5px;
    right: 10px;
    text-align: right;
    font-size: x-large;
    color: #a7a7a7;
}